<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ChattiAlpha · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header>
      <section class="container">
        <%# <nav role="navigation">
          <ul>
            <li><a href="https://hexdocs.pm/phoenix/overview.html">Get Started</a></li>
          </ul>
        </nav> %>
        <a href="http://phoenixframework.org/" class="phx-logo">
          <img src="<%= Routes.static_path(@conn, "/images/phoenix.png") %>" alt="Phoenix Framework Logo"/>
        </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
　  <script>window.roomId   = "<%= assigns[:room_id] %>";</script>
　  <script>window.chatName = "<%= assigns[:room_name] %>";</script>
　  <script>window.userId   = "<%= assigns[:user_id] %>";</script>
　  <script>window.userName = "<%= assigns[:user_name] %>";</script>
　  <script>window.tenantId = "<%= assigns[:tenant_id] %>";</script>
　  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>  
  </body>
</html>
